html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* AQUI EMPIEZA MI CSS */

body {
    background-image: url("../assets/background-images/sebastian-svenson-d2w-_1LJioQ-unsplash.jpeg");
    background-size: cover;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    flex-direction: column;
    max-height: ;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightgray;
    font-size: 20px;
}

#time-message {
    color: lightgray;
    font-size: 20px;
    display: flex;
    gap: 20px;
}

#deleleteTxt {
    height: fit-content;
    width:fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #213445;
    font-size: 15px;
    background-color: aqua;
    border-style: none;
    border-radius: 50px;
}

#deleleteTxt:hover {
    background-color:#fbfc6c;
    cursor: pointer;
}

.clock-weather-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

/* (5) WEATHER CONTAINER */
.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #213445;
    width: 200px;
    background-color: rgb(250, 235, 215);
    padding: 20px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    gap: 10px;
}
.weather-container h2 {
    font-size: 30px;
}
.search-box input, button {
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: 5px;
}

.search-box input {
   width: fit-content;
}

.search-box button {
    border-radius: 20px;
 }

.weather {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-temp {
    height: 50px;
    width: 50px;
}

.temp {
    font-size: 25px;
}

.icon-description-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after {
    visibility: hidden;
    content: "Loading...";
    color: white;
    position: absolute;
}

/* (1)RELOJ DIGITAL */
#reloj-digital {
    background-color: rgba(255, 192, 203, 0.89);
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    color: #213445;
    justify-content: center;
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 36px;
}

#reloj-digital:hover {
    background-color: #fbfc6c;
    cursor:pointer;
}

.print-time {
    font-size: 40px;
}

/* (2) CREATE PASSWORD */

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 130px;
}
#create-password {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #213445;
    font-size: 20px;
    background-color: #fefe028c;
    width: 200px;
    height: max-content;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.num-characteres {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 15px;
}

#passwordBtn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    background-color: lightgray;
    color: #213445;
    border-style: none; 
    border-radius: 20px;
    padding: 5px 20px;
    width:max-content;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    outline: none;
}

#passwordBtn:hover {
    background-color: #fbfc6c;
    cursor: pointer;

}

#print-password {
    display: flex;
    width:min-content;
    flex-wrap: wrap;
    font-size: 15px;
}

#numCharacters {
    border-style: none;
    border-radius: 5px;
    background-color: lightgray;
}
#numCharacters:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    outline: none;
}

/* // (4)SAVE FAVORITE LINKS */

#favLinks {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#213445;
    font-size: 20px;
    background-color:#00ffee8c;
    width: 200px;
    height: max-content;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#favLinks input {
    background-color:lightgray;
    border-style: none;
    border-radius: 20px;
    padding: 5px 20px;
    color: darkgrey;
}

#favLinks input:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    outline: none;
}

#favLinks button {
    background-color:lightgray;
    border-style: none;
    border-radius: 20px;
    padding: 5px;
    color: #213445;
}

#favLinks button:hover {
    background-color: aqua;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    outline: none;
}



#pintar-links {
    background-color: #213445;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#pintar-links ol {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
#pintar-links li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2px;
}
#pintar-links li a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ol button {
    display: flex;
    justify-content: center;
    background-color: #213445;
    border-style: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    align-items: center;
    font-size: 10px;
    padding-bottom: 2px;
    color: white;
}